include example-code

mixin treatments_list(list)
	.container
		h2.h2 Treatments
		h3.h3 At Boulder Prolotherapy, we offer a variety of treatment options, depending on your
			| specific needs. To learn more, click on the name of each treatment below.
		.treatments__row
			each item in list
				+treatments_item(item)

mixin treatments_item(item)
	.treatments__wrapper
		.treatments__item
			.treatments__item-image: img(src= item.image, alt= item.title)
			.treatments__item-cont
				.treatments__item-title: a(href= item.url)= item.title
				.treatments__item-description= item.description

mixin pain(pain_list)
	.pain
		.pain__map
		.pain__list
			.left
				each item, index in pain_list
					if (index < 6)
						+pain_item(item, index)
			.pain__button-more.form-control__button.form-control__button--orange View More Symptoms
			.right
				each item, index in pain_list
					if (index >= 6)
						+pain_item(item, index)

mixin pain_item(item, index)
	a.pain__item(
		href= item.link,
		data-x-pos= item.coordinates.x,
		data-y-pos= item.coordinates.y,
		id= index )= item.title

// form-control
mixin input(type, label, name, required, classModify)
	.form-control(class='form-control--' + classModify)
		if (type == 'textarea')
			textarea.form-control__textarea(placeholder= label, name= name, data-required= required)
		else
			input.form-control__input(type= type, placeholder= label, name= name, autocomplete="off", data-required= required)

mixin checkbox(label, name, id, required)
	.form-control
		input.form-control__checkbox(type='checkbox', id= id, name= name, data-required= required)
		label(for= id)= label

mixin radio(label, name, id, required)
	.form-control
		input.form-control__radio(type='radio', id= id, name= name, value= id, data-required= required)
		label(for= id)= label

mixin select(list_options, value, name, required)
	.form-control
		select.form-control__select(name= name, value= value, data-required= required)
			each item in list_options
				option(value= item.value)= item.title

mixin button(type, label, classModify)
	button.form-control__button(class= 'form-control__button--' +classModify, type= type)= label
