include example-code

mixin imagesHeader(classImg,link,title)
		.header-images
			.container
				.header-images__img(class='header-images__img--'+ classImg)
			.container
				p.header-images__link= link
				h2.header-images__title= title


mixin social__link()
	.social-link
		.social-link__list
			.social-link__item: a.icons.social-link-fb_like(href='#')
			.social-link__item: a.icons.social-link-fb_share(href='#')
			.social-link__item: a.icons.social-link-tweeter(href='#')
			.social-link__item: a.icons.social-link-gplus(href='#')
			.social-link__item: a.icons.social-link-inLinks(href='#')
			.social-link__item: p.social-link__text Thanks for reading! Please like and share.







mixin contactUs()
	section.treatments-contacts
		.container
			.treatments-contacts_wrapper
				.treatments-contacts__img
					img(src="../images/contact/man5_32@2x.png" width='719' height='560')
				.treatments-contacts__text
					h2.treatments-contacts__title Contact Us Today
					p.treatments-contacts__subtitle Our overall goal is to resolve the underlying structural causes of your pain, while relieving you of long-term dependency prescription analgesic medications. Write to us using the button below or call
					p.treatments-contacts__phone= phone
					+alink('button','Contact Us','contactUs',"contactus.html")



mixin faqlist(list)
	each item in list
		.faq-block__item
			img.faq-block__img(src= item.src width='380' height='205')
			h3.faq-block__h3= item.title
			p.faq-block__subtitle= item.subtitle
			+button('button','Read more','faqread')
